* {
    margin: 0;
    padding: 0;
    font-family: 'Spectral', 'serif';
}

@keyframes slideUp {
    from {
        transform: translateY(300px);
        opacity: 25%;
    }

    to {
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes slideLeft {
    from {
        opacity: 25%;
    }

    to {
        opacity: 100%;
    }
}

.container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        0deg, 
        rgb(247, 247, 247) 23.8%,
        rgb(252, 221, 221) 92%
    );
    background-size: cover;
    background-position: center;
}

.navigation {
    width: 98%;
    margin: auto;
    padding: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid #009688;
    border-width: 3px;
}

.title {
    margin-left: 50px;
    width: 30%;
}

.navigation ul li {
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    position: relative;
}

.navigation ul li a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 20px;
}

.navigation ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}

.navigation ul li:hover::after {
    width: 100%;
}

.content {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    transform: translateY(2%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.background {
    margin: auto;
    width: 90%;  
    height: 80%;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 15px;
    animation-name: slideUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.SSCH {
    color: #000;
    background-color: antiquewhite;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 4.5vw;
    border-radius: 100px;

    animation-name: slideLeft;
    animation-duration: 1.25s;
    animation-timing-function: linear;
    animation-delay: .75s;
    animation-fill-mode: forwards;

    opacity: 0;
}

@media only screen and (max-width:1280px) {
    .container {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            0deg, 
            rgb(247, 247, 247) 23.8%,
            rgb(252, 221, 221) 92%
        );
        background-size: cover;
        background-position: center;
    }
    
    .navigation {
        width: 90%;
        margin: auto;
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid #009688;
        border-width: 3px;
    }
    
    .title {
        margin-left: 5px;
        width: 25vw;
    }
    
    .navigation ul li {
        list-style: none;
        display: inline-block;
        margin: 0 6px;
        position: relative;
    }
    
    .navigation ul li a{
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
        font-size: 1.3vw;
    }
    
    .navigation ul li::after {
        content: '';
        height: 2px;
        width: 0;
        background: #009688;
        position: absolute;
        left: 0;
        bottom: -2px;
        transition: 0.5s;
    }
    
    .navigation ul li:hover::after {
        width: 100%;
    }
    
    .content {
        margin: 0 auto;
        width: 100%;
        position: absolute;
        transform: translateY(2%);
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    
    .background {
        margin: auto;
        width: 90%;  
        height: 100%;
        display: flex;
        align-items: center; 
        justify-content: center;
        border-radius: 15px;
    }
    
    .SSCH {
        color: #000;
        background-color: antiquewhite;
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-size: 5vw;
        border-radius: 100px;
    }
}
